.login-window {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 400px;
  max-width: 450px;
  margin: auto;
  margin-top: 200px;
  width: 40%;
}

.login-width {
  width: 100%;
  margin: auto;
}

.login-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
