.eval-actual {
    margin: 10px;
  }

  .admin-project-dialog{
    min-width: 1104px;
  }

.mat-slider-horizontal {
  width: 80%;
}
.evluation-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-container{
  margin-top: 10px;
}
.attach-doc-container{
  margin-top: 10px;
}

.formBudget{
  margin-top: 10px;
}
.costÐ¡ategory{
  margin-top: 10px;
}

.comment-send-container > * {
  width: 100%;
}

.comment-date {
  position: absolute;
  right: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.btn-delete-comment{
  position: absolute;
  right: 15px;
}
.btn-delete{
  right: 15px;
  margin-bottom: 20px;
}
.comment-text {
  overflow: hidden;
  font-size: 13px;
}

.full-width{
  width: 100%;
}

.error-message{
  margin-top: 10px;
}

.general{
  background-color: rgba(229, 231, 232, 0.7);
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.col-sm-1,
.col-sm-2,
.col-sm-3 {
  margin: auto;
}

.head-table {
  font-size: 10px;
}
