<mat-tab-group class="admin-project-dialog">
        <mat-tab label="Опис">
            <form [formGroup]="appDescForm" (ngSubmit)="submitDescriptionForm()" novalidate>
                <div class="row general">
                    <div class="col-sm-12"><b>Назва</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width">
                            <textarea matInput maxlength="250" required formControlName="name" #name
                                required matTextareaAutosize matAutosizeMaxRows>
                            </textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("name")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Запитувана сума</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput formControlName="requestedBudget" required></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("requestedBudget")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Назва організації або ініціативної групи</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="250" #organizationName
                                formControlName="organizationName"
                                required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("organizationName")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Тематичний напрямок</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="250" #theme
                            formControlName="theme"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("theme")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Координатор/ка проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <input matInput maxlength="100" #coordinatorName
                            formControlName="coordinatorName"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorName")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Координатор/ка проекту (моб.тел.)</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <input matInput formControlName="coordinatorPhone" required>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorPhone")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Координатор/ка проекту (електронна адреса)</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <input matInput maxlength="50" formControlName="coordinatorEmail" required>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorEmail")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Попередній досвід команди проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="2000" #expirienceDescription formControlName="expirienceDescription"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("expirienceDescription")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Адреса організації</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width">
                            <textarea matInput maxlength="250" #address formControlName="address"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("address")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Мета проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width">
                            <textarea matInput maxlength="1000" #goal formControlName="goal"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("goal")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Актуальність проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width">
                            <textarea matInput maxlength="2000" #actuality formControlName="actuality"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("actuality")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>"Очікувані результати</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="2000" #expectedResults formControlName="expectedResults"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("expectedResults")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Опис проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="2000" #fullDescription
                            formControlName="fullDescription"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("fullDescription")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Цільові групи</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="2000" #targetGroup formControlName="targetGroup"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("targetGroup")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Команда проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="1000"  #projectMembers formControlName="projectMembers"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("projectMembers")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Погодження та дозволи</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="1000" #requiredPermissions formControlName="requiredPermissions"
                            required matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("requiredPermissions")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Партнери та спонсори</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <textarea matInput maxlength="1000" #partners formControlName="partners"
                                matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6"></textarea>
                            <mat-error *ngIf="appDescForm">{{getErrorMessage("partners")}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row general">
                    <div class="col-sm-12"><b>Термін втілення проекту</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field  class="full-width">
                            <input matInput  formControlName="requiredTime">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-tab>

        <mat-tab label="Б'юджет">
            <form [formGroup]="appCostItem" class="formBudget" #formDirective="ngForm" (ngSubmit)="submitCostItemForm(formDirective)" novalidate>
                <mat-form-field class="full-width">
                    <input matInput maxlength="250" #description placeholder="Пояснення" formControlName="description" required>
                    <mat-hint align="end">{{description.value.length}} / 250</mat-hint>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("description")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput maxlength="5" placeholder="Вартість за одиниицю часу/на одну особу, грн.:" formControlName="cost" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("cost")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput maxlength="5" placeholder="Кількість / затрачений час:" formControlName="count" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("count")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Витрати з програми, грн.:" formControlName="consumptionsFromProgram" type="number" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("consumptionsFromProgram")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Витарти з інших джерел, грн.:" formControlName="consumptionsFromOtherSources"type="number" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("consumptionsFromOtherSources")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Оберіть категорію витрат:" formControlName="category" required>
                    <mat-option disabled>Оберіть категорію витрат</mat-option>
                    <mat-option *ngFor="let category of costItemCategories" [value]="category.value">{{category.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("category")}}</mat-error>
                </mat-form-field>

                <button class="evluation-btn" mat-raised-button color="primary" type="submit" [disabled]="!appCostItem.valid">Зберегти</button>
            </form>

            <div *ngIf="projectBudget.costItemsFee.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Гонорари, трудові угоди</div>
                    <div class="col-sm-2">Розмір винагороди за місяць</div>
                    <div class="col-sm-2">Затрачений робочий час</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsFee; let i=index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[0].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalFeeFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalFeeFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsTransport.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Tранспортні витрати</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsTransport; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[1].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalTransportFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalTransportFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsNutrition.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Вартість харчування</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsNutrition; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[2].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalNutritionFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalNutritionFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsRent.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Вартість оренди</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsRent; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[3].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalRentFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalRentFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsAdministrative.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Вартість пунктів адміністрування</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsAdministrative; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[4].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalAdministrativeFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalAdministrativeFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsAdvertising.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Вартість пунктів адміністрування</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsAdvertising; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[5].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalAdvertisingFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalAdvertisingFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsMaterial.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Придбання (купівля витратних матеріалів, тощо)</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsMaterial; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[6].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalMaterialsFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalMaterialsFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div *ngIf="projectBudget.costItemsOthers.length > 0">
                <div class="row general">
                    <div class="col-sm-3">Придбання (купівля витратних матеріалів, тощо)</div>
                    <div class="col-sm-2">Вартість на одну особу / день</div>
                    <div class="col-sm-2">К-сть осіб</div>
                    <div class="col-sm-2">з програми грн.</div>
                    <div class="col-sm-2">з інших джерел грн.</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" *ngFor="let item of projectBudget.costItemsOthers; let i = index">
                    <div class="col-sm-3">{{item.description}}</div>
                    <div class="col-sm-2">{{item.cost}}</div>
                    <div class="col-sm-2">{{item.count}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                    <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
                    <div class="col-sm-1"><button mat-icon-button color="warn" (click)="removeCostItem(i,costItemCategories[7].value)"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><b>Сума :</b></div>
                    <div class="col-sm-2">{{calculations.totalOthersFromProgram}}</div>
                    <div class="col-sm-2">{{calculations.totalOthersFromOtherSources}}</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            <div class="row general">
                <div class="col-sm-3"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Загальна сума: </b></div>
                <div class="col-sm-2">{{calculations.totalFromProgram}} грн.</div>
                <div class="col-sm-2">{{calculations.totalFromOtherSources}} грн.</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row general">
                <div class="col-sm-3"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Бюджет:</b></div>
                <div class="col-sm-2">{{calculations.totalFromProgram + calculations.totalFromOtherSources}} грн.</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1"></div>
            </div>
        </mat-tab>
    <mat-tab label="Оцінювання">
        <mat-card *ngIf="evaluations.length == 0 && interviewEvaluations.length == 0 ">
                <mat-card-content>
                    <b>В даному проекті оцінки відсутні</b>
                </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Перший етап" *ngIf="evaluations.length > 0">

                  <div class="row general">
                    <div class="col-sm-2 head-table">Ім'я</div>
                    <div class="col-sm-1 head-table">Актуальність</div>
                    <div class="col-sm-1 head-table">Зрозумілість</div>
                    <div class="col-sm-1 head-table">Компетентність</div>
                    <div class="col-sm-1 head-table">Стійкість</div>
                    <div class="col-sm-1 head-table">Витрати/ефективність</div>
                    <div class="col-sm-1 head-table">Інноваційність</div>
                    <div class="col-sm-1 head-table">Залучення</div>
                    <div class="col-sm-1 head-table">Співпраця</div>
                    <div class="col-sm-1 head-table">Сума</div>
                  </div>
                  <div class="row" *ngFor="let evaluation of evaluations; let i = index;">
                    <div class="col-sm-2">{{evaluation.juryMemberName}}</div>
                    <div class="col-sm-1">{{evaluation.evalActual}}</div>
                    <div class="col-sm-1">{{evaluation.evalIntelligibility}}</div>
                    <div class="col-sm-1">{{evaluation.evalCompetence}}</div>
                    <div class="col-sm-1">{{evaluation.evalStability}}</div>
                    <div class="col-sm-1">{{evaluation.evalEfficiency}}</div>
                    <div class="col-sm-1">{{evaluation.evalInnovation}}</div>
                    <div class="col-sm-1">{{evaluation.evalAttracting}}</div>
                    <div class="col-sm-1">{{evaluation.evalParticipation}}</div>
                    <div class="col-sm-1">{{evaluation.evalActual
                      + evaluation.evalIntelligibility + evaluation.evalCompetence + evaluation.evalStability
                      + evaluation.evalEfficiency + evaluation.evalInnovation + evaluation.evalAttracting + evaluation.evalParticipation}}</div>
                  </div>

                  <div class="row general">
                    <div class="col-sm-2">Підсумок</div>
                    <div class="col-sm-1">{{getEvalTotalActual(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalIntelligibility(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalCompetence(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalStability(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalEfficiency(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalInnovation(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalAttracting(evaluations)}}</div>
                    <div class="col-sm-1">{{getEvalTotalParticipation(evaluations)}}</div>
                    <div class="col-sm-1">{{getTotalEvalFirstStage(evaluations)}}</div>
                  </div>

<!--
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="{{evaluation.juryMemberName}}: {{evaluation.evalActual
                                + evaluation.evalIntelligibility + evaluation.evalCompetence + evaluation.evalStability
                                + evaluation.evalEfficiency + evaluation.evalInnovation + evaluation.evalAttracting + evaluation.evalParticipation}}" *ngFor="let evaluation of evaluations; let i = index;">
                                <mat-accordion class="example-headers-align">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Актуальність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>наскільки проект необхідний і важливий для міста в сьогоднішніх умовах</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalActual">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Зрозумілість</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                                <ul>
                                                    <li>чи є чітка механіка реалізації?</li>
                                                    <li>чи логічно вибудувана послідовність реалізації проекту?</li>
                                                    <li>чіткість визначення показників досягнення результату</li>
                                                </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalIntelligibility">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Компетентність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>кваліфікація виконавців, загальна адміністративна та технічна спроможність</li>
                                            </ul>
                                            <p></p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalCompetence">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Стійкість</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>чи наявна модель самопідтримки?</li>
                                                <li>як довго проект працюватиме/існуватиме?</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalStability">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Витрати/ефективність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>обґрунтованість запланованих витрат та необхідних ресурсів у співвідношенні до очікуваних результатів</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalEfficiency">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Інноваційність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>в чому інноваційність проекту: інновація цінності, технологічна  інновація, нова бізнес модель, і т.д.</li>
                                                <li>чи існують схожі проекти? В чому унікальність проекту? </li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalInnovation">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Залучення</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>спроможність запланованої діяльності активізувати участь безпосередніх отримувачів корисного ефекту проекту чи громадськості загалом</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalAttracting">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Співпраця</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>наскільки проект сприяє розвитку співпраці між жителями, організаціями, установами</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalParticipation">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-accordion>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
-->
                </mat-tab>
                <mat-tab label="Другий етап">
                <form [formGroup]="evalSecondStageForm">
                    <mat-form-field>
                        <mat-select placeholder="Жюрі" [(ngModel)]="selectedUser" name="user" formControlName="user">
                        <mat-option *ngFor="let user of listUsers" [value]="user">
                            {{user.fullName}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Оцінка" [(ngModel)]="selectedValue" name="value" formControlName="evaluation">
                        <mat-option *ngFor="let value of listValues" [value]="value">
                            {{value}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>  
                    
                    <button mat-raised-button color="primary" (click)="saveEvalSecondStage()">Добавити оцінку</button>
                </form>

                <div class="row general">
                    <div class="col-sm-2 head-table">Ім'я</div>
                    <div class="col-sm-1 head-table">Оцінка</div>
                </div>
                <div class="row" *ngFor="let evaluation of interviewEvaluations; let i = index;">
                    <div class="col-sm-2">{{evaluation.juryMemberName}}</div>
                    <div class="col-sm-2">{{evaluation.evaluation}}</div>
                </div>
                <div class="row general">
                    <div class="col-sm-2">Підсумок</div>
                    <div class="col-sm-1"></div>
                </div>
                    


                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="{{interviewEvaluation.juryMemberName}}: {{interviewEvaluation.evaluation}}" *ngFor="let interviewEvaluation of interviewEvaluations; let i = index;">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title><b>Другий етап оцінювання</b></mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ul>
                                            <li>Оцінка після інтрев'ю</li>
                                        </ul>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <mat-slider
                                            [max]=5
                                            [step]=1
                                            [thumb-label]=true
                                            [tick-interval]=2
                                            [(ngModel)]="interviewEvaluation.evaluation">
                                        </mat-slider>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-tab>
    <mat-tab label="Прикріплені файли">
        <div class = "attach-doc-container">
            <div *ngIf="filesInfo.length > 0" >
                <p *ngFor="let fileInfo of filesInfo " ><a target="_blank" href="{{basUrl}}admin/project/files/{{fileInfo.id}}">{{fileInfo.filename}}</a></p>
            </div>
            <div *ngIf="filesInfo.length == 0" >
                    <p>Документи для перегляду відсутні</p>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>

  <button  class="evluation-btn" [disabled]="!appDescForm.valid" (click)="submitDescriptionForm()" mat-raised-button color="primary"><mat-icon>cached</mat-icon> Оновити дані</button>

  <div class="comment-send-container">
    <mat-form-field>
        <textarea matTextareaAutosize matAutosizeMinRows matAutosizeMaxRows="6" [(ngModel)]="commentText" matInput placeholder="Коментар"></textarea>
    </mat-form-field>
    </div>
    <button (click)="saveComment()" [disabled]="isDisableCommentButton()" mat-raised-button color="primary">Відправити
        <mat-icon>send</mat-icon>
    </button>

    <div allArrComments *ngFor="let comment of comments.reverse()" class="comment-container">
    <div class="card">
        <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted comment-text">
            <b>{{comment.userName}}</b>&nbsp;&nbsp;
            {{comment.text}}
            <div class="comment-date">{{comment.date |date: 'dd.MM.yyyy HH:mm:ss'}}</div>
        </h6>
        </div>
    </div>
