.client-form-container {
    display: flex;
    flex-direction: column;
  }

.client-form-container > * {
  width: 100%;
}
.full-width{
  width: 100%;
}

.client-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.horisontal-stepper {
  min-width: 890px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 80%;
}
.button-row {
  margin-bottom: 10px;
}

body {
  background-color: transparent;
}
.save-btn {
  margin-bottom: 10px;
}

.category {
  background-color: #c0e5f7;
}
.general {
  background-color: #e5e7e8;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
