<form *ngIf="displayDescriptionForm" [formGroup]="appDescForm" (ngSubmit)="submitDescriptionForm()" novalidate>
  <div class="form-group">
    <label class="center-block">Назва проекту:
      <textarea class="form-control" formControlName="name"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Запитувана сума, грн.:
      <input class="form-control" formControlName="requestedBudget">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Назва організації або ініціативної групи, що подає проект:
      <textarea class="form-control" formControlName="organizationName"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Тематичний напрямок, під який підпадає проект:
      <textarea class="form-control" formControlName="theme"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Термін втілення проекту:
      <input class="form-control" formControlName="requiredTime">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Координатор/ка проекту:
      <input class="form-control" formControlName="coordinatorName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Координатор/ка проекту (моб.тел.):
      <input class="form-control" formControlName="coordinatorPhone">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Координатор/ка проекту (електронна адреса):
      <input class="form-control" formControlName="coordinatorEmail">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Команда проекту (не менш як 2 особи, з контактами (моб.тел., електронна адреса) та розподілом обов’язків):
      <textarea class="form-control" formControlName="projectMembers"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Попередній досвід команди проекту у громадській діяльності або волонтерстві (не більше 5 рядків про кожного члена команди):
      <textarea class="form-control" formControlName="expirienceDescription"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Адреса організації (якщо є):
      <textarea class="form-control" formControlName="address"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Веб-сайт, Facebook:
      <input class="form-control" formControlName="webaddress">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Мета проекту (одним реченням, що саме і яким чином плануєте досягти внаслідок реалізації проекту):
      <textarea class="form-control" formControlName="goal"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Актуальність проекту (чому запропонована у проекті діяльність є важливою, максимум 100 слів):
      <textarea class="form-control" formControlName="actuality"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Опис проекту (розгорнуто, не більше як 300 слів, потрібно описати, що відбуватиметься, які заходи будуть здійснені у
      рамках проекту):
      <textarea class="form-control" formControlName="fullDescription"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Цільові групи (на чиї потреби чи на кого спрямована дія проекту, як Ви плануєте запрошувати/залучати цю аудиторію):
      <textarea class="form-control" formControlName="targetGroup"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Очікувані результати проекту (кількісні та якісні, короткострокові та довгострококові показники успішності проекту):
      <textarea class="form-control" formControlName="expectedResults"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Погодження та дозволи, необхідні для втілення проекту:
      <textarea class="form-control" formControlName="requiredPermissions"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Партнери та спонсори (якщо є):
      <textarea class="form-control" formControlName="partners"></textarea>
    </label>
  </div>
  <button type="submit" [disabled]="!appDescForm.valid" class="btn btn-success">Зберегти</button>
</form>

<table *ngIf="displayDescription">
  <tr>
    <th colspan="3">Інформація про проект та заявника</th>
  </tr>
  <tr>
    <td rowspan="2">Назва проекту</td>
    <td rowspan="2">{{description.name}}</td>
    <td>Запитувана сума, грн.:</td>
  </tr>
  <tr>
    <td>{{description.requestedBudget}}</td>
  </tr>
  <tr>
    <td>Назва організації або ініціативної групи, що подає проект</td>
    <td colspan="2">{{description.organizationName}}</td>
  </tr>
  <tr>
    <td>Тематичний напрямок, під який підпадає проект</td>
    <td colspan="2">{{description.theme}}</td>
  </tr>
  <tr>
    <td>Термін втілення проекту</td>
    <td colspan="2">{{description.requiredTime}}</td>
  </tr>
  <tr>
    <td>Координатор/ка проекту(моб.тел., електронна адреса)</td>
    <td colspan="2">{{description.coordinatorName}} моб.: {{description.coordinatorPhone}} пошта: {{description.coordinatorEmail}}</td>
  </tr>
  <tr>
    <td>Команда проекту (не менш як 2 особи, з контактами (моб.тел., електронна адреса) та розподілом обов’язків) </td>
    <td colspan="2">{{description.projectMembers}}</td>
  </tr>
  <tr>
    <td>Попередній досвід команди проекту у громадській діяльності або волонтерстві (не більше 5 рядків про кожного члена команди)
    </td>
    <td colspan="2">{{description.expirienceDescription}}</td>
  </tr>
  <tr>
    <td>Адреса організації (якщо є)</td>
    <td colspan="2">{{description.address}}</td>
  </tr>
  <tr>
    <td>Веб-сайт, Facebook</td>
    <td colspan="2">{{description.webaddress}}</td>
  </tr>
  <tr>
    <td>Мета проекту (одним реченням, що саме і яким чином плануєте досягти внаслідок реалізації проекту)</td>
    <td colspan="2">{{description.goal}}</td>
  </tr>
  <tr>
    <td>Актуальність проекту (чому запропонована у проекті діяльність є важливою, максимум 100 слів)</td>
    <td colspan="2">{{description.actuality}}</td>
  </tr>
  <tr>
    <td>Опис проекту (розгорнуто, не більше як 300 слів, потрібно описати, що відбуватиметься, які заходи будуть здійснені у
      рамках проекту)</td>
    <td colspan="2">{{description.fullDescription}}</td>
  </tr>
  <tr>
    <td>Цільові групи (на чиї потреби чи на кого спрямована дія проекту, як Ви плануєте запрошувати/залучати цю аудиторію)</td>
    <td colspan="2">{{description.targetGroup}}</td>
  </tr>
  <tr>
    <td>Очікувані результати проекту (кількісні та якісні, короткострокові та довгострококові показники успішності проекту)</td>
    <td colspan="2">{{description.expectedResults}}</td>
  </tr>
  <tr>
    <td>Погодження та дозволи, необхідні для втілення проекту </td>
    <td colspan="2">{{description.requiredPermissions}}</td>
  </tr>
  <tr>
    <td>Партнери та спонсори (якщо є)</td>
    <td colspan="2">{{description.partners}}</td>
  </tr>
</table>

<form *ngIf="displayCostItemForm" [formGroup]="appCostItem" (ngSubmit)="submitCostItemForm()" novalidate>
  <div class="form-group">
    <label class="center-block">Пояснення:
      <input class="form-control" formControlName="description">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Вартість за одиниицю часу/на одну особу, грн.:
      <input class="form-control" formControlName="cost">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Кількість / затрачений час:
      <input class="form-control" formControlName="count">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Витрати з програми, грн.:
      <input class="form-control" formControlName="consumptionsFromProgram">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Витарти з інших джерел, грн.:
      <input class="form-control" formControlName="consumptionsFromOtherSources">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Оберіть категорію витрат:
      <select class="form-control" formControlName="category">
        <option disabled>Оберіть категорію витра</option>
        <option *ngFor="let category of costItemCategories" [value]="category.value">{{category.name}}</option>
      </select>
    </label>
  </div>
  <button type="submit" [disabled]="!appCostItem.valid" class="btn btn-success">Додати</button>
</form>
<ng-container *ngIf="calculations">
  <table>
    <tr>
      <th colspan="6">Бюджет</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2">Сума витрат</td>
      <td></td>
    </tr>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsFee)">
      <tr>
        <td>{{costItemCategories[0].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Особа, виконувані функції</td>
        <td>Розмір винагороди за місяць</td>
        <td>Затрачений робочий час</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsFee; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[0].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalFeeFromProgram}}</td>
        <td>{{calculations.totalFeeFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsTransport)">
      <tr>
        <td>{{costItemCategories[1].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість на одну особу / день</td>
        <td>К-сть осіб</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsTransport; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[1].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalTransportFromProgram}}</td>
        <td>{{calculations.totalTransportFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsNutrition)">
      <tr>
        <td>{{costItemCategories[2].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість на одну особу</td>
        <td>К-сть осіб</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsNutrition; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[2].value)">delete</button>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalNutritionFromProgram}}</td>
        <td>{{calculations.totalNutritionFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsRent)">
      <tr>
        <td>{{costItemCategories[3].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість на годину/день</td>
        <td>К-сть годин/днів</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsRent; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[3].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalRentFromProgram}}</td>
        <td>{{calculations.totalRentFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsAdministrative)">
      <tr>
        <td>{{costItemCategories[4].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість</td>
        <td>Кількість</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsAdministrative; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[4].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalAdministrativeFromProgram}}</td>
        <td>{{calculations.totalAdministrativeFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsAdvertising)">
      <tr>
        <td>{{costItemCategories[5].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість</td>
        <td>Кількість</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsAdvertising; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[5].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalAdvertisingFromProgram}}</td>
        <td>{{calculations.totalAdvertisingFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsMaterial)">
      <tr>
        <td>{{costItemCategories[6].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість</td>
        <td>Кількість</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsMaterial; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[6].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalMaterialsFromProgram}}</td>
        <td>{{calculations.totalMaterialsFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="checkIfNotEmpty(budget.costItemsOthers)">
      <tr>
        <td>{{costItemCategories[7].name}}</td>
        <td></td>
        <td></td>
        <td>З програми</td>
        <td>З інших джерел</td>
        <td></td>
      </tr>
      <tr>
        <td>Пояснення</td>
        <td>Вартість</td>
        <td>Кількість</td>
        <td>Грн</td>
        <td>Грн</td>
        <td></td>
      </tr>
      <tr *ngFor="let costItem of budget.costItemsOthers; let i = index">
        <td>{{costItem.description}}</td>
        <td>{{costItem.cost}}</td>
        <td>{{costItem.count}}</td>
        <td>{{costItem.consumptionsFromProgram}}</td>
        <td>{{costItem.consumptionsFromOtherSources}}</td>
        <td>
          <button (click)="removeCostItem(i,costItemCategories[7].value)">delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Сума</td>
        <td>{{calculations.totalOthersFromProgram}}</td>
        <td>{{calculations.totalOthersFromOtherSources}}</td>
        <td></td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
      <td colspan="2">Загальна сума</td>
      <td>{{calculations.totalFromProgram}}</td>
      <td>{{calculations.totalFromOtherSources}}</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">Загальний бюджет проекту</td>
      <td colspan="2">{{calculations.totalFromProgram + calculations.totalFromOtherSources}}</td>
    </tr>
  </table>
  <button (click)="confirmProjectApplication()">Відіслати на розгляд журі</button>
  <button (click)="sentApplicationToReview">Відіслати для отримання консультації</button>
</ng-container>
<label class="btn btn-primary">
  <input type="file" style="display: none;" multiple="true" (change)="savePdfToUpload($event)" accept=".jpg, .png">
  <span>Donwnload images</span>
</label>
<label class="btn btn-primary">
  <input type="file" style="display: none;" multiple="true" (change)="saveImagesToUpload($event)" accept=".pdf">
  <span>Donwload pdf</span>
</label>