@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.jury-table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
    
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  