.mat-column-select {
    overflow: visible;
  }

.admin-table-container{
  cursor: pointer;
}

.filter-admin {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 64px;
  padding: 8px 24px 0;
}

.filter-input{
  width: 20%;
}

.admin-table {
  background-color: rgba(255, 255, 255, 0.8);
}
.admin-table-paginator {
  background-color: rgba(255, 255, 255, 0.8);
}
