<mat-tab-group>
    <mat-tab label="Опис">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Назва">
                    <p>{{projectDescription.name}}</p>
                </mat-tab>
                <mat-tab label="Запитувана сума">
                    <p>{{projectDescription.requestedBudget}} грн.</p>
                </mat-tab>
                <mat-tab label="Назва організації або ініціативної групи">
                    <p>{{projectDescription.organizationName}}</p>
                </mat-tab>
                <mat-tab label="Тематичний напрямок">
                    <p>{{projectDescription.theme}}</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Координатор/ка проекту">
                    <p>{{projectDescription.coordinatorName}}</p>
                </mat-tab>
                <mat-tab label="Координатор/ка проекту (моб.тел.)">
                    <p>{{projectDescription.coordinatorPhone}}</p>
                </mat-tab>
                <mat-tab label="Координатор/ка проекту (електронна адреса)">
                    <p>{{projectDescription.coordinatorEmail}}</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Попередній досвід команди проекту">
                    <p>{{projectDescription.expirienceDescription}}</p>
                </mat-tab>
                <mat-tab label="Адреса організації">
                    <p>{{projectDescription.address}}</p>
                </mat-tab>
                <mat-tab label="Мета проекту">
                    <p>{{projectDescription.goal}}</p>
                </mat-tab>
                <mat-tab label="Актуальність проекту">
                        <p>{{projectDescription.actuality}}</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Очікувані результати">
                    <p>{{projectDescription.expectedResults}}</p>
                </mat-tab>
                <mat-tab label="Опис проекту">
                    <p>{{projectDescription.fullDescription}}</p>
                </mat-tab>
                <mat-tab label="Цільові групи">
                    <p>{{projectDescription.targetGroup}}</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Команда проекту">
                    <p>{{projectDescription.projectMembers}}</p>
                </mat-tab>
                <mat-tab label="Погодження та дозволи">
                    <p>{{projectDescription.requiredPermissions}}</p>
                </mat-tab>
                <mat-tab label="Партнери та спонсори">
                    <p>{{projectDescription.partners}}</p>
                </mat-tab>
                <mat-tab label="Термін втілення проекту">
                    <p>{{projectDescription.requiredTime}}</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-tab>
    <mat-tab label="Б'юджет">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>