<mat-tab-group>
        <mat-tab label="Опис">
            <form [formGroup]="appDescForm" (ngSubmit)="submitDescriptionForm()" novalidate>
                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Назва">
                                <mat-form-field class="full-width">
                                    <textarea matInput required formControlName="name" [(ngModel)]="projectDescription.name" #name
                                        required matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8">
                                    </textarea>
                                    <mat-hint align="end">{{name.value.length}} / 250</mat-hint>
                                    <mat-error *ngIf="appDescForm">{{getErrorMessage("name")}}</mat-error>
                                </mat-form-field>      
                        </mat-tab>
                        <mat-tab label="Запитувана сума">
                            <mat-form-field  class="full-width">
                                    <textarea matInput formControlName="requestedBudget" [(ngModel)]="projectDescription.requestedBudget" required></textarea>
                                    <mat-error *ngIf="appDescForm">{{getErrorMessage("requestedBudget")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Назва організації або ініціативної групи">
                            <mat-form-field  class="full-width">
                                    <textarea matInput maxlength="250" #organizationName
                                        formControlName="organizationName" 
                                        required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                    <mat-hint align="end">{{organizationName.value.length}} / 250</mat-hint>
                                    <mat-error *ngIf="appDescForm">{{getErrorMessage("organizationName")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Тематичний напрямок">
                            <mat-form-field  class="full-width">
                                    <textarea matInput maxlength="250" #theme [(ngModel)]="projectDescription.theme"
                                    formControlName="theme" 
                                    required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                    <mat-hint align="end">{{theme.value.length}} / 250</mat-hint>
                                    <mat-error *ngIf="appDescForm">{{getErrorMessage("theme")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Координатор/ка проекту">
                            <mat-form-field  class="full-width">
                                <input matInput maxlength="100" #coordinatorName 
                                formControlName="coordinatorName"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6">
                                <mat-hint align="end">{{coordinatorName.value.length}} / 100</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorName")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Координатор/ка проекту (моб.тел.)">
                            <mat-form-field  class="full-width"> 
                                <input matInput formControlName="coordinatorPhone" required>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorPhone")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Координатор/ка проекту (електронна адреса)">
                            <mat-form-field  class="full-width">  
                                <input matInput maxlength="50" formControlName="coordinatorEmail" required>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("coordinatorEmail")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>

                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Попередній досвід команди проекту">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="2000" #expirienceDescription formControlName="expirienceDescription"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{expirienceDescription.value.length}} / 2000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("expirienceDescription")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Адреса організації">
                            <mat-form-field class="full-width">
                                <textarea matInput maxlength="250" #address formControlName="address"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{address.value.length}} / 250</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("address")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Мета проекту">
                            <mat-form-field class="full-width">
                                <textarea matInput maxlength="1000" #goal formControlName="goal"  [(ngModel)]="projectDescription.goal"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{goal.value.length}} / 1000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("goal")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Актуальність проекту">
                            <mat-form-field class="full-width">
                                <textarea matInput maxlength="2000" #actuality formControlName="actuality"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{actuality.value.length}} / 2000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("actuality")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>

                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Очікувані результати">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="2000" #expectedResults formControlName="expectedResults"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{expectedResults.value.length}} / 2000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("expectedResults")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Опис проекту">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="2000" #fullDescription 
                                formControlName="fullDescription"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{fullDescription.value.length}} / 2000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("fullDescription")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Цільові групи">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="2000" #targetGroup formControlName="targetGroup"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{targetGroup.value.length}} / 2000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("targetGroup")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>

                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Команда проекту">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="1000" formControlName="projectMembers"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{coordinatorName.value.length}} / 1000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("projectMembers")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Погодження та дозволи">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="1000" #requiredPermissions formControlName="requiredPermissions"
                                required matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{requiredPermissions.value.length}} / 1000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("requiredPermissions")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Партнери та спонсори">
                            <mat-form-field  class="full-width">
                                <textarea matInput maxlength="1000" #partners formControlName="partners"
                                 matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6"></textarea>
                                <mat-hint align="end">{{partners.value.length}} / 1000</mat-hint>
                                <mat-error *ngIf="appDescForm">{{getErrorMessage("partners")}}</mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Термін втілення проекту">
                            <mat-form-field  class="full-width">
                                <input matInput  formControlName="requiredTime">
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </form>
        </mat-tab>
     
        <mat-tab label="Б'юджет">

            <form [formGroup]="appCostItem" class="formBudget" #formDirective="ngForm" (ngSubmit)="submitCostItemForm(formDirective)" novalidate>
                <mat-form-field class="full-width">
                    <input matInput maxlength="250" #description placeholder="Пояснення" formControlName="description" required>
                    <mat-hint align="end">{{description.value.length}} / 250</mat-hint>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("description")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput maxlength="5" placeholder="Вартість за одиниицю часу/на одну особу, грн.:" formControlName="cost" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("cost")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width"> 
                    <input matInput maxlength="5" placeholder="Кількість / затрачений час:" formControlName="count" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("count")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Витрати з програми, грн.:" formControlName="consumptionsFromProgram" type="number" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("consumptionsFromProgram")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Витарти з інших джерел, грн.:" formControlName="consumptionsFromOtherSources"type="number" required>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("consumptionsFromOtherSources")}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Оберіть категорію витрат:" formControlName="category" required>
                    <mat-option disabled>Оберіть категорію витрат</mat-option>
                    <mat-option *ngFor="let category of costItemCategories" [value]="category.value">{{category.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="appCostItem">{{getErrorMessageCostForm("category")}}</mat-error>
                </mat-form-field>
                <button mat-button type="submit" [disabled]="!appCostItem.valid" class="btn btn-success">Зберегти</button>
            </form>
            
            <mat-card>
                <mat-tab-group>
                    <mat-tab label="Гонорари, трудові угоди">
                        <ul *ngFor="let itemFree of projectBudget.costItemsFee; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[0].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalFeeFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalFeeFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Tранспортні витрати">
                        <ul *ngFor="let itemFree of projectBudget.costItemsTransport; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[1].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalTransportFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalTransportFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Вартість харчування">
                        <ul *ngFor="let itemFree of projectBudget.costItemsNutrition; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[2].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalNutritionFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalNutritionFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Вартість оренди">
                        <ul *ngFor="let itemFree of projectBudget.costItemsRent; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[3].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalRentFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalRentFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Вартість пунктів адміністрування">
                        <ul *ngFor="let itemFree of projectBudget.costItemsAdministrative; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[4].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalAdministrativeFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalAdministrativeFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Вартість елементів реклами">
                        <ul *ngFor="let itemFree of projectBudget.costItemsAdvertising; let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[5].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalAdvertisingFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalAdvertisingFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Придбання (купівля витратних матеріалів, тощо)">
                        <ul *ngFor="let itemFree of projectBudget.costItemsMaterial let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[6].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalMaterialsFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalMaterialsFromOtherSources}} грн.</p>     
                    </mat-tab>
                    <mat-tab label="Інші витрати">
                        <ul *ngFor="let itemFree of projectBudget.costItemsOthers let i = index" class="costСategory">
                            <li>Опис : {{itemFree.description}}</li>
                            <li>Вартість : {{itemFree.cost}}</li>
                            <li>Кількість : {{itemFree.count}}</li>
                            <li>Витрати з програми : {{itemFree.consumptionsFromProgram}} грн.</li>
                            <li>Витрати з інших джерел : {{itemFree.consumptionsFromOtherSources}} грн.</li>
                            <button mat-raised-button color="primary" (click)="removeCostItem(i,costItemCategories[7].value)" >Видалити</button>
                            <hr>
                        </ul>
                        <p>Загальна сума витрати на програму : {{calculations.totalOthersFromProgram}} грн.</p>
                        <p>Загальна сума витрати з інших джерел : {{calculations.totalOthersFromOtherSources}} грн.</p>     
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
            <h4>Загальна сума б'юджету</h4>
            <ul>
                <li>Загальані сума витрат з програми : {{calculations.totalFromProgram}} грн.</li>
                <li>Загальна сума  витрат інших з інших джерел : {{calculations.totalFromOtherSources}} грн.</li>
                <li>Загальна сума  : {{calculations.totalFromProgram + calculations.totalFromOtherSources}} грн.</li>
                <hr>
            </ul>    
        </mat-tab> 
    <mat-tab label="Оцінювання">
        <mat-card *ngIf="evaluations.length == 0 && interviewEvaluations.length == 0 ">
                <mat-card-content>
                    <b>По даному проекту оцінок немає від жодного оцінювача</b>
                </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Перший етап" *ngIf="evaluations.length > 0">
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="{{evaluation.juryMemberName}} {{evaluation.evalActual 
                                + evaluation.evalIntelligibility + evaluation.evalCompetence + evaluation.evalStability
                                + evaluation.evalEfficiency + evaluation.evalInnovation + evaluation.evalAttracting + evaluation.evalParticipation}}" *ngFor="let evaluation of evaluations; let i = index;">
                                <mat-accordion class="example-headers-align">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Актуальність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>наскільки проект необхідний і важливий для міста в сьогоднішніх умовах</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalActual">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Зрозумілість</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                                <ul>
                                                    <li>чи є чітка механіка реалізації?</li>
                                                    <li>чи логічно вибудувана послідовність реалізації проекту?</li>
                                                    <li>чіткість визначення показників досягнення результату</li>
                                                </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalIntelligibility">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Компетентність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>кваліфікація виконавців, загальна адміністративна та технічна спроможність</li>
                                            </ul>
                                            <p></p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalCompetence">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Стійкість</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>чи наявна модель самопідтримки?</li>
                                                <li>як довго проект працюватиме/існуватиме?</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalStability">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Витрати/ефективність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>обґрунтованість запланованих витрат та необхідних ресурсів у співвідношенні до очікуваних результатів</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalEfficiency">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Інноваційність</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>в чому інноваційність проекту: інновація цінності, технологічна  інновація, нова бізнес модель, і т.д.</li>
                                                <li>чи існують схожі проекти? В чому унікальність проекту? </li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalInnovation">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Залучення</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>спроможність запланованої діяльності активізувати участь безпосередніх отримувачів корисного ефекту проекту чи громадськості загалом</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalAttracting">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title><b>Співпраця</b></mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li>наскільки проект сприяє розвитку співпраці між жителями, організаціями, установами</li>
                                            </ul>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <mat-slider
                                                [max]=10
                                                [step]=1
                                                [thumb-label]=true
                                                [tick-interval]=2
                                                [(ngModel)]="evaluation.evalParticipation">
                                            </mat-slider>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-accordion>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Другий етап" *ngIf="interviewEvaluations.length > 0">
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="{{interviewEvaluation.juryMemberName}}" *ngFor="let interviewEvaluation of interviewEvaluations; let i = index;">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title><b>Другий етап оцінювання</b></mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ul>
                                            <li>Оцінка після інтрев'ю</li>
                                        </ul>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <mat-slider
                                            [max]=5
                                            [step]=1
                                            [thumb-label]=true
                                            [tick-interval]=2
                                            [(ngModel)]="interviewEvaluation.evaluation">
                                        </mat-slider>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-tab>
    <mat-tab label="Прикріплені файли">
        <div class = "attach-doc-container">
            <p *ngFor="let fileInfo of filesInfo " ><a target="_blank" href="{{basUrl}}admin/project/files/{{fileInfo.id}}">{{fileInfo.filename}}</a></p>
        </div>
    </mat-tab>
  </mat-tab-group>

  <button class="evluation-btn" [disabled]="!appDescForm.valid" (click)="submitDescriptionForm()" mat-raised-button color="primary">Обновити дані
    <mat-icon>save</mat-icon>
  </button>

  <h3><b>Коментарі</b></h3>
  <div class="comment-send-container">
    <mat-form-field>
        <textarea [(ngModel)]="commentText" matInput placeholder="Коментар"></textarea>
    </mat-form-field>  
  </div>
  <button (click)="saveComment()" [disabled]="isDisableCommentButton()" mat-raised-button color="primary">Відправити
        <mat-icon>send</mat-icon>
  </button>

  <div class="comment-container">  
    <mat-card allArrComments *ngFor="let comment of comments.reverse()"  class="comment-card">
        <mat-card-header>
          <mat-card-subtitle>{{comment.userName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="comment-text" >{{comment.text}}</p>
        </mat-card-content>
            <div class="comment-date">{{comment.date |date: 'dd.MM.yyyy HH:mm:ss'}}</div>
        <mat-card-actions>
            <button mat-raised-button (click)="deleteComment(id, comment.id)" color="warn">Видалити</button>
        </mat-card-actions>        
    </mat-card>
  </div>