.eval-actual {
    margin: 10px;
  }

.mat-slider-horizontal {
  width: 90%;
}
.evluation-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-container{
  margin-top: 10px;
}
.attach-doc-container{
  margin-top: 10px;
} 

.comment-send-container > * {
  margin-top: 10px;
  width: 100%;
}

.comment-date {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.comment-text {
  overflow: hidden;
  font-size: 13px;
}
.general {
  background-color: rgba(229, 231, 232, 0.7);
}
.mat-tab-body-content {
  overflow: hidden !important;
}