<mat-tab-group>
    <mat-tab label="Опис">
        <div class="row general">
            <div class="col-sm-12"><b>Назва</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.name}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Запитувана сума</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.requestedBudget}} грн.</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Назва організації або ініціативної групи</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.organizationName}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Тематичний напрямок</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.theme}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Координатор/ка проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.coordinatorName}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Координатор/ка проекту (моб.тел.)</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.coordinatorPhone}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Координатор/ка проекту (електронна адреса)</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.coordinatorEmail}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Попередній досвід команди проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.expirienceDescription}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Адреса організації</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.address}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Мета проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.goal}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Актуальність проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.actuality}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Очікувані результати</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.expectedResults}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Опис проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.fullDescription}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Цільові групи</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.targetGroup}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Команда проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.projectMembers}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Погодження та дозволи</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.requiredPermissions}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Партнери та спонсори</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.partners}}</div>
        </div>
        <div class="row general">
            <div class="col-sm-12"><b>Термін втілення проекту</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">{{projectDescription.requiredTime}}</div>
        </div>
    </mat-tab>
    <mat-tab label="Б'юджет">
        <div *ngIf="projectBudget.costItemsFee.length > 0">
            <div class="row general">
                <div class="col-sm-4">Гонорари, трудові угоди</div>
                <div class="col-sm-2">Розмір винагороди за місяць</div>
                <div class="col-sm-2">Затрачений робочий час</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsFee;  let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalFeeFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalFeeFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsTransport.length > 0">
            <div class="row general">
                <div class="col-sm-4">Tранспортні витрати</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsTransport; let i = index ">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalTransportFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalTransportFromProgram}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsNutrition.length > 0">
            <div class="row general">
                <div class="col-sm-4">Вартість харчування</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsNutrition; let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalNutritionFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalNutritionFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsRent.length > 0">
            <div class="row general">
                <div class="col-sm-4">Вартість оренди</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsRent; let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalRentFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalRentFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsAdministrative.length > 0">
            <div class="row general">
                <div class="col-sm-4">Вартість пунктів адміністрування</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsAdministrative; let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalAdministrativeFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalAdministrativeFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsAdvertising.length > 0">
            <div class="row general">
                <div class="col-sm-4">Вартість елементів реклами</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsAdvertising;">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalAdvertisingFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalAdvertisingFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsMaterial.length > 0">
            <div class="row general">
                <div class="col-sm-4">Придбання (купівля витратних матеріалів, тощо)</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsMaterial; let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalMaterialsFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalMaterialsFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="projectBudget.costItemsOthers.length > 0">
            <div class="row general">
                <div class="col-sm-4">Інші витрати</div>
                <div class="col-sm-2">Вартість на одну особу/день</div>
                <div class="col-sm-2">К-сть осіб</div>
                <div class="col-sm-2">з програми грн.</div>
                <div class="col-sm-2">з інших джерел грн.</div>
            </div>

            <div class="row" *ngFor="let item of projectBudget.costItemsOthers; let i = index">
                <div class="col-sm-4">{{item.description}}</div>
                <div class="col-sm-2">{{item.cost}}</div>
                <div class="col-sm-2">{{item.count}}</div>
                <div class="col-sm-2">{{item.consumptionsFromProgram}}</div>
                <div class="col-sm-2">{{item.consumptionsFromOtherSources}}</div>
            </div>
            <div class="row general">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><b>Сума :</b></div>
                <div class="col-sm-2">{{calculations.totalOthersFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalOthersFromOtherSources}}</div>
            </div>
        </div>
        <div *ngIf="calculations.totalFromProgram > 0; else notBudjet">
            <div class="row general">
                <div class="col-sm-4"><b>Загальна сума :</b></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">{{calculations.totalFromProgram}}</div>
                <div class="col-sm-2">{{calculations.totalFromOtherSources}}</div>
            </div>
        </div>
        <ng-template #notBudjet>Б`юджет відсутній</ng-template>
    </mat-tab>
<!--
    <mat-tab *ngIf="approvedToSecondStage" label="Оцінювання 2 тур">
            <mat-accordion class="example-headers-align">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title><b>Інтерв'ю</b></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li>Інтерв'ю з кервіником проекту</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slider
                            [max]=5
                            [step]=1
                            [thumb-label]=true
                            [tick-interval]=2
                            [(ngModel)]="interviewEvaluation.evaluation">
                        </mat-slider>
                    </mat-card-actions>
                </mat-card>
            </mat-accordion>

            <button class="evluation-btn" (click)="saveInterviewEvaluation()" mat-raised-button color="primary">Зберегти оцінювання
            </button>
    </mat-tab> -->

    <mat-tab label="Оцінювання 1 тур">
        <mat-accordion class="example-headers-align">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Актуальність</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>наскільки проект необхідний і важливий для міста в сьогоднішніх умовах</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalActual">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Зрозумілість</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <ul>
                            <li>чи є чітка механіка реалізації?</li>
                            <li>чи логічно вибудувана послідовність реалізації проекту?</li>
                            <li>чіткість визначення показників досягнення результату</li>
                        </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalIntelligibility">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Компетентність</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>кваліфікація виконавців, загальна адміністративна та технічна спроможність</li>
                    </ul>
                    <p></p>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalCompetence">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Стійкість</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>чи наявна модель самопідтримки?</li>
                        <li>як довго проект працюватиме/існуватиме?</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalStability">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Витрати/ефективність</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>обґрунтованість запланованих витрат та необхідних ресурсів у співвідношенні до очікуваних результатів</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalEfficiency">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Інноваційність</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>в чому інноваційність проекту: інновація цінності, технологічна  інновація, нова бізнес модель, і т.д.</li>
                        <li>чи існують схожі проекти? В чому унікальність проекту? </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalInnovation">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Залучення</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>спроможність запланованої діяльності активізувати участь безпосередніх отримувачів корисного ефекту проекту чи громадськості загалом</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalAttracting">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>Співпраця</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>наскільки проект сприяє розвитку співпраці між жителями, організаціями, установами</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slider
                        [max]=10
                        [step]=1
                        [thumb-label]=true
                        [tick-interval]=2
                        [(ngModel)]="evaluation.evalParticipation">
                    </mat-slider>
                </mat-card-actions>
            </mat-card>
        </mat-accordion>
        <button class="evluation-btn" (click)="saveEvaluation()" mat-raised-button color="primary">Зберегти оцінювання
        </button>
    </mat-tab>
    <mat-tab label="Прикріплені файли">
        <div *ngIf="filesInfo.length > 0">
            <mat-list>
                <h3  mat-subheader>Документи для пеергляду</h3>
                <mat-list-item *ngFor="let fileInfo of filesInfo ">
                <mat-icon mat-list-icon>note</mat-icon>
                <p mat-line><a target="_blank"  href="{{basUrl}}jury/project/file/{{fileInfo.id}}">{{fileInfo.filename}}</a></p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
        <div *ngIf="filesInfo.length == 0" >
                <p>Документи для перегляду відсутні</p>
        </div>
    </mat-tab>
  </mat-tab-group>

  <div class="comment-send-container">
    <mat-form-field>
        <textarea [(ngModel)]="commentText" matInput placeholder="Коментар"></textarea>
    </mat-form-field>
  </div>
  <button (click)="saveComment()" [disabled]="isDisableCommentButton()" mat-raised-button color="primary">Відправити
        <mat-icon>send</mat-icon>
  </button>

  <div allArrComments *ngFor="let comment of comments.reverse()" class="comment-container">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted comment-text">
            <b>{{comment.userName}}</b>&nbsp;&nbsp;
            {{comment.text}}
            <div class="comment-date">{{comment.date |date: 'dd.MM.yyyy HH:mm:ss'}}</div>
        </h6>
      </div>
      
    </div>
  </div>
