<div class="admin-table-container mat-elevation-z8">

    <div class="filter-admin">
        <mat-form-field class="filter-input">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фільтр">
        </mat-form-field>

        <button mat-mini-fab class="float-right" (click)="openDialogUser()">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>

    <mat-table class="admin-table" #table [dataSource]="dataSource" matSort>
    
        <!-- Login Column -->
        <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef> Логін</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Повне ім'я </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Роль </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef>Видалення</mat-header-cell>
            <mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Видалити користувача" [matTooltipPosition]="positionTollTip">
                <mat-icon aria-label="Видалити користувача" (click)="deleteUser(row)" color="warn">remove_circle</mat-icon>
            </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showRow(row)"></mat-row>
    </mat-table>
    <mat-paginator class="admin-table-paginator" #paginator
        [length]="length"    
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>
