.dialog-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-row {
  text-align: center;
}

.dialog-container > * {
  width: 100%;
}

.top-margin{
  margin-top: 15px;
}
