<div class="hom-conteiner text-center">
    <h5 class="smal-caps">програма підтримки прогресивних міських ініціатив</h5>
    <p class="big-caps"><b>М і с ь к і Ґ р а н т и </b></p>
    <hr class="hr-text">
    <div>
        <p class="smal-caps text-conteiner">Програма «Міські Ґранти» створена для активізації та посилення ініціатив, громадських організацій і середовищ, які ставлять за мету втілювати практичні проекти, що покращують якість життя в місті, та залучати громаду до активної участі в процесах розвитку Івано-Франківська
    </div>
    <div class="button-row">
        <button mat-raised-button type="button" routerLink="project">Подати заявку на розгляд</button>
        <button mat-raised-button type="button" routerLink="login">Я є членом жюрі</button>
    </div>
</div>
