/*.home-page-content{
    background-color: rgba(255, 255, 255, 0.8);
}
*/
.hom-conteiner {
    min-width: 1200px;
    width: 70%;
    height: 70%;
    padding: 10px;

    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.text-conteiner {
    margin: auto;
    width: 55%;
    margin-bottom: 13px;
}

.button-row {
    //margin: 20;
    //width: 50%;
    text-align: center;
    //display: flex;
    //align-items: center;
    //justify-content: space-around;
}
.button-row button{
    width: 20%;
    min-width: 250px;
    margin: 0px 10px 0px 10px;
}

.text-center {
  text-align: center;
}

.smal-caps {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.big-caps {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    letter-spacing: 20px;
    font-size: 85px;
 }

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: "";
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      position: relative;
      display: inline-block;
      color: black;

      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
}

ul.text-conteiner {
    list-style-type: none;
}

.footer{
    text-align: center;
    margin: 0px 10px 0px 10px;
}
.footer a {
    width: 20%;
    min-width: 250px;
    margin: 0px 10px 0px 10px;
    font-size: 13px;
}

a:link {
    color: rgba(0, 0, 0, 1);
}

a:visited {
    color: rgba(0, 0, 0, 1);
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
}

a:active {
    color: rgba(0, 0, 0, 0.7);
}

.img-logo-container {
  margin-left: 25px;
  margin-top: 10px;
  width: 50px;
  height: 120px;
}

.img-logo-container img {
  width: 100%;
  height: auto;
}
