.home-conteiner {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  position: fixed;
}

.main {
  height: 75%;
  width: 70%;
  min-width: 1200px;
  min-height: 400px;
  margin: auto;
}

.banner {
  text-align: left;
  padding: 10px 0px 0px 5px;
  height: 20%;
  min-height: 70px;
}

.footer {
  text-align: center;
  height: 5%;
  min-height: 25px;
}

.text-conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-bottom: 15px;
}

.button-row {
  text-align: center;
}

.button-row button {
  width: 20%;
  min-width: 250px;
  margin: 0px 10px 0px 10px;
}

.text-center {
  text-align: center;
}

.smal-caps {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.big-caps {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  letter-spacing: 20px;
  font-size: 85px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: ""; // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em; // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

ul.text-conteiner {
  list-style-type: none;
}

.footer a {
  width: 20%;
  min-width: 250px;
  margin: 0 10px 0px 10px;
  font-size: 13px;
}

a:link {
  color: rgba(0, 0, 0, 1);
}

a:visited {
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

a:active {
  color: rgba(0, 0, 0, 0.7);
}

.images {
  display: inline-block;
  margin: 0 5px;
}

.grand-img {
  width: 60px;
  height: 60px;
}

.warm-img {
  width: 150px;
  height: 60px;
}
