<div class="img-logo-container">
  <img src="assets/img/warmSityLogo.png">
</div>

  <div class="hom-conteiner text-center">
      <h5 class="smal-caps">програма підтримки прогресивних міських ініціатив</h5>
      <p class="big-caps"><b>Міські Ґранти </b></p>
      <hr class="hr-text">
      <div>
          <p class="smal-caps text-conteiner">Програма «Міські Ґранти» створена для активізації та посилення ініціатив, громадських організацій
               і середовищ, які ставлять за мету втілювати практичні проекти, що покращують якість життя в місті, та залучати громаду до активної участі
               в процесах розвитку Івано-Франківська
      </div>
      <div class="button-row">
          <button type="button" class="btn btn-outline-dark" routerLink="project">Подати заявку на розгляд</button>
          <button type="button" class="btn btn-outline-dark" routerLink="login">Я є членом жюрі</button>
      </div>
      <div class="footer">
        <a href="https://drive.google.com/file/d/1Sicq_nDSNUESgYKdxa-Qmsbh7RJiHu2w/view" target="_blank"><b>Офіційні правила конкурсу</b></a>
        <a href="https://drive.google.com/file/d/1HRpMJwqKawnXRlF825t4UTnH6bq0MBjG/view" target="_blank"><b>Зразок аплікаційної форми</b></a>
      </div>
  </div>


