<div class="user-menege-container">
    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()" novalidate>    
        <mat-form-field class="full-width">
            <input matInput placeholder="Логін"  formControlName="login">
        </mat-form-field>

        <mat-form-field class="full-width">
                <input matInput placeholder="Пароль"  formControlName="password">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Повне ім'я" formControlName="fullName"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-select placeholder="Роль" formControlName="role">
            <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </form>    
</div>
